# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
LinkedIn.png
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Misc
*.log
*.lock
.DS_Store
*.swp

# Firebase
google-services.json
GoogleService-Info.plist
firebase_options.dart

# Env / secrets
.env
*.jks
key.properties

# Generated
**/*.g.dart
**/*.freezed.dart